<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-container"> 
    <div class="is-centered title">
        <h1 id="header1">List of Orgs</h1>
    </div>

    <div class="is-centered">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Contact</th>
            </tr>
            
            <% @orgs.each do |org| %>
                <tr>
                    <td><%= org.name %></td>
                    <td><%= org.description %></td>
                    <td><%= org.contact %></td>
                    <td><%= link_to 'Show', org_path(org) %></td>
                </tr>
            <% end %>
        </table>
    </div>
    
    <footer>
        <div class="foot-container">
            <p>RUBY WARRIORS Copyright © 2018. UNC CHARLOTTE</p>
        </div>
    </footer>
</div>

