<p>
    <strong>Name:</strong>
    <%= @org.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @org.description %>
</p>

<p>
    <strong>Contact:</strong>
    <%= @org.contact %>
</p>
<<<<<<< HEAD

<p>
    <strong>Rating:</strong>
</p>
=======
>>>>>>> 28d721e538db9624f1501d7a65adaeb6916eabe1
